/********************************************************  MAX 820px    ************************/

@media (max-width: 820px) {

    /******************************************************************* Home admin */

    .cards {
        width: 98%;
        margin-top: 5rem;
    }
    .cards-container {
        width: 95%;
        margin: 0 auto;
        grid-template-columns: auto auto;
    }
    .admin-container {
        width: 100%;
        margin-top: 6rem;
        display: flex;
        justify-content: center;
    }
    .logo-container-admin {
        width: 50%;
        display: flex;
        justify-content: start;
    }
    .form-container-admin {
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    /******************************************************************** Home */

    nav {
        height: 4.5rem;
        width: 100%;
    }
    .h5-nav {
        width: 40%;
    }
    .brand-logo {
        width: 10.5rem;
        margin-left: 0.8rem;
    }
    .logo-container {
        width: 50%;
    }
    .search-container input {
        height: 2.5rem;
    }
    .search-container button {
        height: 2.5rem;
    }
    .user-default-image {
        width: 2rem;
        border-radius: 50%;
        margin: auto 1rem;
    }
    .search-container {
        width: 30%;
        display: none;
    }
    .form-container {
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 1rem;
        background-color: white;
    }
    .form-container a{
        padding: 0.7rem;
        text-decoration: none;
        color: var(--darkBlue);
    }
    .form-container a:hover{
        color: var(--purple);
    }
    .dropdown-menu {
        display: none;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 4.5rem;
        right: 0;
        background-color: white;
        z-index: 3;
        border: none;
    }
    .dropdown-menu li {
        width: auto;
        color: var(--darkBlue);
        font-weight: 500;
        font-size: 1.2rem;
        box-shadow: 1px 0 0 1px lightgray inset;
    }
    .dropdown-menu li:hover{
        color: white;
        background: var(--purple)
    }
    .dropdown-menu li a{
        min-width: 10rem;
        margin: 0;
        text-decoration: none;
        padding: auto;
        display: block;
        padding: 0.8rem;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .dropdown-menu li a:hover {
        background-color: var(--purple);
        color: white;
    }
    .form-close {
        background-color: white;    
        width: 100%;
        align-items: end;   
    }
    .search-form {
        background-color: white;
        width: 100%;
    }
    .search-form::after {
        content: "";
        clear: both;
        display: table;
    }
    .search-form input[type=search] {
        background-color: white;
        float: left;
        border-radius: 8px 0 0 8px;
    }
    .search-form button{
        background-color: var(--darkBlue);
        float: left;
        border-radius: 0 8px 8px 0;
    }
    .carousel__set {
        width: 85%;
        margin: 6.2rem 0 3.5rem 0;
    }
    .slide__image {
        width: 100%;
        height: 30rem;
    }
    .articles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
      
      .articles h2 {
        text-align: center; 
    }
      .text__description {
        display: flex;
        flex-direction: column;
        align-items: center; }
      
      .text__description p {
        margin: 0.8rem auto;
        text-align: center;
        width: 90%; 
        font-size: 1.3rem;
        line-height: 2;
    }
    .ltr {
        margin: 0.8rem auto;
    }
    footer {
        background-color: #5800ff; 
    }
    footer {
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: column;
        color: white; }
      
      footer h2 {
        margin-top: 16px;
        font-size: 1.5rem; }
      
      footer a {
        text-decoration: none;
        color: white; }
      
      footer a:hover {
        color: #D9D9D9; }
      
      .footer__info {
        height: 50%;
        display: flex;
        margin-left: 16px;
        margin-right: 16px; }
      
      .footer__info a {
        margin-top: 8px; }
      
      .footer__about {
        display: flex;
        flex-direction: column; }
      
      .footer__sites {
        display: flex;
        flex-direction: column;
        margin-left: 10%; }
      
      .footer__links {
        width: 100%;
        display: flex;
        margin: auto 0 0 0; }
      
      .social__media {
        width: 30%;
        margin-left: 8px;
        display: flex;
        align-items: end; 
    }
      .social__media a {
        margin: 16px 8px; 
    }
      .footer__copyright {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        margin: auto 3% auto 3%;
     }
    .footer__copyright a {
        text-decoration: underline;
        margin-bottom: 8px; 
    }
      
    footer p {
        margin-bottom: 8px; 
    }

    /******************************************************************  Product Detail */

    .detail-container {
        width: 100%;
        margin-top: 4.5rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--darkBlue);
        border-radius: 0;
        border: none;
    }
    .prod-img-detail-container {
        width: 100%;
    }
    .prod-img-detail-container img{
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0 0;
    }
    .prod-description-detail-container {
        width: 100%;
        padding: 1rem;
        background-color: white;
        border-radius: 0 0 8px 8px;
        height: 50%;
    }
    .product-title {
        font-size: 1.5rem;
    }
    .product-description {
        font-size: 1rem;
    }
    .product-price {
        font-size: 1.8rem;
    }
    .product-detail-form {
        display: flex;
        height: 45%;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
    }
    .product-detail-form .btn:hover {
        background-color: white;
        color: var(--purple);
    }

    /***********************************************************************  Cart */

    .cart-section {
        width: 100%;
        margin-top: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cart-container {
        width: 95%;
        border-radius: 1rem;
        margin-top: 4.5rem;
        border: solid darkgray 1px;
    }
    .product-container {
        padding: 0.6rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .product-container .btn {
        border-radius: 8px;
    }
    .product-image-container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .product-info-container {
        padding: 0.8rem;
    }
    .product-counter-container {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: 1 / 3 / 2 / 4;
    }
    .product-counter-container input{
        width: 50%;
        text-align: center;
    }
    .delete-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .buy {
        width: 100%;
        margin: 1rem auto;
        display: flex;
        justify-content: center;
    }
    .buy .btn{
        width: 20rem;
        height: 2.5rem;
    }
    .emptycart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rtnHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rtnHome a {
        text-decoration: none;
        font-weight: 400;
    }

    /******************************************************************** Login */

    .form-login {
        width: 95%;
    }
    .form-input {
        margin: 0.8rem auto;
        font-size: 1.5rem;
    }
    .register-link {
        font-size: 1rem;
    }

    /********************************************************************  Sign */

    .form-sign {
        width: 95%;
    }

    .admin-form {
        width: 98%;
        margin-top: 5rem;
    }
    .button-sign {
        width: 95%;
    }

    /***********************************************  Support, Info, Terms and Privacy  */

    .logo-container-admin-addel {
        width: 50%;
        display: flex;
        justify-content: end;
    }
    .arrow-container-admin {
        width: 50%;
    }
    .arrow-container-admin a{
        text-decoration: none;
        color: var(--darkBlue);
        padding-left: 1rem;
    }
    .arrow-container-admin a:hover{
        color: var(--purple);
    }
    .brand-logo-admin {
        margin-right: 1rem;
        width: 10rem;
    }

    /************************************************************  thank page */

    .thank__page {
        margin: 5rem auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .finish .btn{
        width: 95%;
        background-color: var(--purple);
        color: white;
    }
    .thank_icon {
        width: 5rem;
    }
    .success__icon {
        width: 50%;
    }
    .finish {
        width: 100%;
        margin: 1rem auto;
        display: flex;
        justify-content: center;
    }
    .thanks {
        color: #009929;
    }

    /********************************************  msg */

    .msg_container h2{
        font-size: 1.1rem;
    }
}