/***********************GLOBAL PROPERTIES*************************/

/*Propiedades generales del sitio tanto para vista mobile como para 
desktop*/

:root {
    --purple: #5800ff;
    --blue:#0096ff;
    --blue-water: #00d7ff;
    --aqua:#72ffff;
    --text-gray: #6C6C6C;
    --image-gray: #D9D9D9;
    --green-success: #50CF01;
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-gray);
}
nav a, main a{
    text-decoration: none;
    /*color: var(--text-gray);*/
    color: var(--blue);
}
h2, h3 {
    font-weight: bold;
    height: auto;
}
p {
    font-weight: 400;
    letter-spacing: 1px;
    height: auto;
}
section.slider {
    display: flex;
    flex-direction: column;
}
footer {
    background-color: var(--purple);
}

/***********************************DESKTOP******************************/

/********************************home page*******************************/

header {
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0 1px 5px gray;
    position: fixed;
    top: 0;
    z-index: 2;
}
nav {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile__links {
    display: none;
    /*position: absolute;
    top: 5%;
    right: 0;*/
}
.desktop__links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.desktop__links a {
    font-weight: bold;
}
.desktop__links a:hover {
    color: var(--purple);
}
.desktop__navbar__link {
    padding: 10px;
}
.desktop__navbar__link:hover {
    color: var(--purple);
}
.dropdown__menu {
    display: none;
}
.carousel {
    margin-top: 6%;
}
.articles {
    display: flex;
    flex-direction: column;
    margin: 32px 16px 32px 16px;
    /*margin-left: 32px;
    margin-right: 32px;*/
}
.articles .text__description {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.articles .text__description p{
    margin-top: 24px;
}
.ltr h2, .rtl h2 {
    width: 50%;
}
.ltr h2 {
    text-align: start;
}
.rtl h2 {
    text-align: end;
}
article.ltr {
    display: flex;
    flex-direction: row;
    align-items: center;
}
article.rtl {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
section.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
section.form form{
    background-color: var(--blue-water);
    width: 70%;
    height: 460px;
    /*margin-bottom: 32px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin-top: 4%;
}
section.form label  {
    margin: 1% auto 1% 10%;
    /*margin-top: 24px;
    margin-left: 24px;*/
    font-size: 24px;
    align-self: flex-start;
    color: white;
    font-weight: 600;
}
section.form input[type="text"] {
    margin-top: 1%;
    width: 80%;
    /*height: 80px;*/
    border: none;
    border-radius: 5px;
    padding-left: 2%;
}
section.form input[type="submit"] {
    margin: 6% auto 6% auto;
    width: 80%;
    height: 70px;
    border: none;
    border-radius: 8px;
    background-color: var(--blue);
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
    color: white;
}
footer {
    height: 282px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    color: white;
}
footer h2 {
    margin-top: 16px;
}
footer a {
    text-decoration: none;
    color: white;
}
.footer__info {
    height: 50%;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
}
.footer__info a{
    margin-top: 8px;
}
.footer__about {
    display: flex;
    flex-direction: column;
}
.footer__sites {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.footer__copyright {
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: auto 3% auto 3%;
}
.footer__copyright a {
    text-decoration: underline;
    margin-bottom: 8px;
}
footer p {
    margin-bottom: 8px;
}


/***********************************MOBILE******************************/

/*La siguiente parte define las propiedades de las pantallas en funcion 
las dimensiones de 730 px o menor*/

/*********************************home page*****************************/

@media only screen and (max-width: 730px){

    nav a, main a {
        color: var(--blue);
    }
    main h2, main p {
        margin-top: 2%;
    }  
    h3 {
        margin: 3% auto 3% auto;
        /*margin-top: 48px;
        margin-bottom: 48px;*/
        text-align: center;
    }  
    header {
        height: 60px;
    }
    nav {
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        box-shadow: 0 1px 5px gray;
    }
    .mobile__links {
        display: flex;
    }
    .mobile__links a:hover {
        color: var(--purple);
    }
    .mobile__links__item {
        margin-left: 16px;
    }
    .desktop__links {
        display: none;
    }
    .mobile__links__dropdown {
        display: block;
        position: absolute;
        top: 90%;
        right: 0;
        background-color: white;
        z-index: 2;
        font-size: x-large;
        border-radius: 5px 0 0 5px;
        /*box-shadow: 0 1px 5px gray;*/
    }
    .mobile__links__dropdown a{
        display: block;
    }
    .dropdown__menu {
        display: block;
    }
    /*.carousel {
        height: 500px;
    }
    /*.slide__image__mod {
        height: 300px;
    }*/
    .articles {
        margin-left: 16px;
        margin-right: 16px;
    }
    .articles .text__description {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .articles .text__description p{
        margin-top: 16px;
    }
    .ltr h2, .rtl h2 {
        width: 100%;
    }
    article.ltr {
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    article.rtl {
        display: flex;
        flex-direction: column;
        text-align: end;
    }
    section.form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.form form{
        background-color: var(--blue-water);
        width: 90%;
        height: 450px;
        /*margin-bottom: 32px;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
    }
    section.form label  {
        margin: 1% auto 1% 7%;
        font-size: 24px;
        align-self: flex-start;
        color: white;
        font-weight: 400;
    }
    section.form input[type="text"] {
        margin-top: 8px;
        width: 85%;
        /*height: 32px;*/
        border: none;
        border-radius: 5px;
        padding-left: 2%;
    }
    section.form input[type="submit"] {
        margin: 5% auto 5% auto;
        /*margin-top: 10%;
        margin-bottom: 10%;*/
        width: 85%;
        /*height: 70px;*/
        border: none;
        border-radius: 8px;
        background-color: var(--blue);
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 3px;
        color: white;
    }
    footer {
        height: 282px;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        color: white;
    }
    footer h2 {
        margin-top: 16px;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
    .footer__info {
        height: 50%;
        display: flex;
        margin-left: 16px;
        margin-right: 16px;
    }
    .footer__info a{
        margin-top: 8px;
    }
    .footer__about {
        display: flex;
        flex-direction: column;
    }
    .footer__sites {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
    }
    .footer__copyright {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-end;
        margin-right: 16px;
        margin-bottom: 16px;
    }
    .footer__copyright a {
        text-decoration: underline;
        margin-bottom: 8px;
    }
    footer p {
        margin-bottom: 8px;
    }

/****************************Products page*******************************/

    section.search {
        height: 56px;
        background-color: var(--blue);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section.search form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section.search input {
        width: 85%;
        height: 40px;
        border: none;
        border-radius: 5px;
        padding-left: 8%;
    }
    section.search button {
        background-color: white;
        border: none;
        position: absolute;
        left: 9%;
    }
    section.products {
        display: grid;
        row-gap: 32px;
        margin: 24px 24px;
    }
    .product__card{
        height: 320px;
        border-radius: 5px;
        border: solid var(--image-gray) 1px;
        display: flex;
        flex-direction: column;
    }    
    .card__image {
        height: 60%;
        background-color: var(--image-gray);
        /*border: solid;*/
    }
    .product__card h2 {
        color: black;
        margin-top: 0;
        /*border: solid;*/
    }
    .product__card p {
        margin-top: 16px;
        /*border: solid;*/
    }
    .card__price {
        margin-right: 8px;
        font-weight: bold;
        color: red;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

/***************************features page*********************************/

    .shopping {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*border: solid;*/
    }
    .shopping__product {
        width: 90%;
    }
    .shopping__product h2 {
        font-size: xx-large;
        color: black;
        margin-bottom: 16px;
    }
    .shopping__description {
        font-weight: 500;
        font-size: large;
        color: black;
    }
    .shopping__price {
        font-size: x-large;
        font-weight: bold;
        color: black;
    }
    .shopping__product .img {
        height: 320px;
        width: 100%;
        background-color: var(--image-gray);
        border-radius: 5px;
    }
    .shopping__buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .similar__products {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: solid var(--image-gray) 2px;
    }
    .similar__products h2 {
        font-size:larger;
        margin-bottom: 16px;
    }
    .product {  
        width: 90%;
    }

 /*******************************cart page********************************/
 
    .cart {
        width: 100%;
    }

    .cart__product__details {
        display: flex;
        align-items: center;
        height: 160px;
        border-bottom: var(--image-gray) solid 1px;
    }
    .cart__product__description {
        display: flex;
        flex-direction: column;
    }
    .cart__product__description h2{
        margin: 0;
        color: black;
    }
    .cart__product__description p {
        margin-top: 8px;
        color: black;
    }
    .cart__product__image {
        width: 50%;
        height: 100px;
        margin: 8px;
        border-radius: 5px;
        background-color: var(--image-gray);
        margin: 16px 16px;
    }

/********************************shopping page***************************/
    .cart__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .buy__button, .add__button, .finish__button {
        width: 90%;
        height: 70px;
        border-radius: 5px;
        font-size: x-large;
        font-weight: bold;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .buy__button {
        background-color: var(--blue);
        color: white;
        border: none;
    }
    .add__button {
        background-color: white;
        border: var(--blue) solid 1px;
        color: var(--blue);
    }

/*****************************thanks page*********************************/

    .thank {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .thank h2 {
        font-size:x-large;
        color: var(--green-success);
        font-weight: bold;
    }
    .thank p {
        color: black;
        font-size: x-large;
        font-weight: bold;
    }
    .success__icon {
        margin-top: 10%;
    }
    .thank span {
        font-size: 150px;
        margin-top: 24px;
        margin-bottom: 24px;
        color: black;
    }
    .finish {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .finish__button {
        background-color: var(--blue);
        border: none;
        color: white;
        letter-spacing: 5px;
    }

}


