/***********************GLOBAL PROPERTIES*************************/
/*Propiedades generales del sitio tanto para vista mobile como para 
desktop*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Montserrat', sans-serif;
  color: #6C6C6C; }

nav a, main a {
  text-decoration: none;
  color: #0096ff; }

h2, h3 {
  font-weight: bold; }

h3 {
  text-align: center; }

p {
  font-weight: 400;
  letter-spacing: 1px;
  height: auto; }

.emphasis__text {
  color: #5800ff; }

section.slider {
  display: flex;
  flex-direction: column; }

footer {
  background-color: #5800ff; }

/***********************************DESKTOP******************************/
/********************************home page*******************************/
header {
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0 1px 5px gray;
  position: fixed;
  top: 0;
  z-index: 2; }

nav {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.logo {
  width: 200px; }

.mobile__links {
  display: none; }

.desktop__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end; }

.desktop__links a {
  font-weight: 700;
  display: flex; }

.desktop__links a:hover {
  color: #5800ff; }

.desktop__navbar__link {
  padding: 10px; }

.desktop__navbar__link:hover {
  color: #5800ff; }

.dropdown__menu {
  display: none; }

.carousel {
  margin-top: 50px; }

.slide__image__mod {
  height: 450px; }

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 16px 40px 16px; }

.articles h2 {
  text-align: center; }

.text__description {
  display: flex;
  flex-direction: column;
  align-items: center; }

.text__description p {
  margin-top: 16px;
  text-align: center;
  width: 50%; }

section.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%; }

section.form form {
  background-color: #00d7ff;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin-top: 4%; }

section.form label {
  margin: 1% auto 1% 10%;
  font-size: 1.8rem;
  align-self: flex-start;
  color: white;
  font-weight: 500; }

section.form input[type="text"] {
  margin-top: 1%;
  width: 80%;
  height: 1.8rem;
  border: none;
  border-radius: 5px;
  padding-left: 2%; }

section.form input[type="text"]:focus {
  outline: solid var(--blue); }

section.form input[type="submit"] {
  margin: 6% auto 6% auto;
  width: 80%;
  height: 70px;
  border: none;
  border-radius: 8px;
  background-color: #0096ff;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 3px;
  color: white; }

footer {
  height: 282px;
  display: flex;
  flex-direction: column;
  color: white; }

footer h2 {
  margin-top: 16px;
  font-size: 1.5rem; }

footer a {
  text-decoration: none;
  color: white; }

footer a:hover {
  color: #D9D9D9; }

.footer__info {
  height: 50%;
  display: flex;
  margin-left: 16px;
  margin-right: 16px; }

.footer__info a {
  margin-top: 8px; }

.footer__about {
  display: flex;
  flex-direction: column; }

.footer__sites {
  display: flex;
  flex-direction: column;
  margin-left: 10%; }

.footer__links {
  width: 100%;
  display: flex;
  margin: auto 0 0 0; }

.social__media {
  width: 30%;
  margin-left: 8px;
  display: flex;
  align-items: end; }

.social__media a {
  margin: 16px 8px; }

.footer__copyright {
  width: 70%;
  height: auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: auto 3% auto 3%; }

.footer__copyright a {
  text-decoration: underline;
  margin-bottom: 8px; }

footer p {
  margin-bottom: 8px; }

/**********************************products page************************/
section.search {
  margin-top: 50px;
  height: 56px;
  background-color: #0096ff;
  display: flex;
  align-items: center;
  justify-content: center; }

section.search form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

section.search input {
  width: 50%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding-left: 4%;
  font-size: 1.2rem; }

section.search input:focus {
  outline: solid #72ffff; }

section.search button {
  background-color: white;
  border: none;
  position: absolute;
  left: 26%; }

section.products {
  margin: 1.5rem;
  display: grid;
  gap: 1.8rem;
  grid-template-columns: auto auto auto auto; }

.product__card {
  height: 15rem;
  width: 12rem;
  border-radius: 5px;
  border: solid #D9D9D9 1px;
  display: flex;
  flex-direction: column;
  justify-self: center; }

.card__image {
  height: 70%;
  background-color: #D9D9D9;
  border-radius: 5px 5px 0 0; }

.product__card h2 {
  margin: 1% auto auto 3%;
  font-size: 0.8rem;
  color: black; }

.product__card p {
  margin: 1% auto auto 2%;
  font-size: 0.6rem; }

p.card__price {
  margin: 2% 5% 1% 5%;
  display: flex;
  justify-content: end;
  font-weight: bolder;
  color: red; }

/***********************************features page***********************/
.shopping {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  background-color: #00d7ff;
  color: black; }

.shopping__product {
  display: flex;
  width: 85%;
  height: 80%;
  margin: 64px;
  background-color: white; }

.shopping__product__details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; }

.shopping__product__details__image {
  width: 85%;
  height: 50%;
  margin: 32px auto;
  background-color: #D9D9D9;
  border-radius: 5px; }

.shopping__product__details__image__pic {
  width: 100%;
  height: 100%;
  border-radius: 5px; }

.shopping__product__details__title {
  width: 85%;
  margin: 8px auto;
  font-size: 1.3rem; }

.shopping__product__details__description {
  width: 85%;
  margin: 8px auto;
  font-size: 1rem;
  font-weight: 500; }

.shopping__product__details__price {
  width: 85%;
  margin: 8px auto;
  font-weight: 800;
  color: red; }

.shopping__product__arrive {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px; }

.shopping__product__arrive__details {
  width: 90%; }

.shopping__product__arrive__details__date {
  display: flex;
  margin-top: 32px; }

.shopping__product__arrive__details__date span {
  font-size: xxx-large; }

.shopping__product__arrive__details__date h3 {
  font-weight: 400;
  text-align: center; }

.buy__button {
  background-color: #0096ff;
  color: white;
  border: none; }

.shopping__product__arrive__buttons {
  width: 100%;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.add__button {
  background-color: white;
  border: #0096ff solid 1px;
  color: #0096ff; }

.similar__products {
  display: none; }

/*************************************cart page*************************/
.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #72ffff; }

.cart__container {
  width: 90%;
  margin: 24px auto;
  background-color: white;
  border-radius: 5px;
  overflow: auto; }

.cart__product__details {
  width: 100%;
  display: flex;
  border-bottom: solid 1px #D9D9D9; }

.cart__product__container__image {
  width: 40%; }

.cart__product__image {
  width: 60%;
  height: 180px;
  margin: 4% auto;
  border-radius: 5px; }

.img__product {
  width: 100%;
  height: 100%;
  border-radius: 5px; }

.cart__product__description {
  width: 60%;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.cart__product__description p {
  font-size: 1.5rem;
  color: black; }

p.cart__product__price {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: red; }

.cart__product__cancel__buy {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.cart__product__delete__buy {
  text-align: center; }

.cart__product__delete__buy a {
  margin: 8px; }

.cart__product__cancel__buy a {
  color: #5800ff;
  font-weight: 600; }

.cart__product__cancel__buy a:hover {
  color: #0096ff; }

.cart__product__counter__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.cart__product__cancel__buy__counter {
  width: 50%;
  flex-direction: column; }

.cart__button {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
  font-size: larger; }

/***********************************thank page***************************/
.thank__page {
  display: flex;
  flex-direction: column;
  align-items: center; }

.thank {
  display: flex;
  flex-direction: column;
  align-items: center; }

.thank h2 {
  font-size: x-large;
  color: #50CF01;
  font-weight: bold; }

.thank p {
  color: black;
  font-size: x-large;
  font-weight: bold; }

.success__icon {
  margin: 5.5rem auto 3rem auto; }

.thank span {
  font-size: 150px;
  margin: 16px auto;
  color: black; }

.finish {
  width: 50%;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.finish__button {
  background-color: #0096ff;
  border: none;
  color: white; }

.desktop__button {
  width: 70%;
  height: 48px;
  text-align: center;
  margin: 16px auto;
  font-size: large;
  font-weight: bold;
  border-radius: 5px; }

/***********************************404**********************************/
.sorry__page {
  display: flex;
  flex-direction: column;
  align-items: center; }

.sorry {
  display: flex;
  flex-direction: column;
  align-items: center; }

.sorry h2 {
  font-size: x-large;
  color: #0096ff;
  font-weight: bold; }

.sorry p {
  color: black;
  font-size: x-large;
  font-weight: bold;
  text-align: center; }

.sorry__icon {
  width: 40%;
  margin: 5.5rem auto 3rem auto; }

.sorry span {
  font-size: 150px;
  margin: 16px auto;
  color: black; }

.inverse:hover {
  color: #5800ff; }

/***********************************TABLET******************************/
@media only screen and (max-width: 1280px) {
  section.products {
    grid-template-columns: auto auto auto; } }

/***********************************MOBILE******************************/
/*La siguiente parte define las propiedades de las pantallas en funcion 
las dimensiones de 730 px o menor*/
/*********************************home page*****************************/
@media only screen and (max-width: 730px) {
  nav a, main a {
    color: #0096ff; }
  main h2, main p {
    margin-top: 2%; }
  h3 {
    margin: 1% auto 3% auto;
    text-align: center; }
  header {
    height: 60px; }
  nav {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 5px gray; }
  .mobile__links {
    display: flex; }
  .mobile__links a:hover {
    color: #5800ff; }
  .mobile__links__item {
    margin-left: 16px; }
  .desktop__links {
    display: none; }
  .mobile__links__dropdown {
    display: block;
    position: absolute;
    top: 90%;
    right: 0;
    background-color: white;
    z-index: 2;
    font-size: x-large;
    border-radius: 5px 0 0 5px; }
  .mobile__links__dropdown a {
    display: block; }
  .dropdown__menu {
    display: block; }
  .carousel {
    margin-top: 60px; }
  .slide__image__mod {
    height: 300px; }
  .articles h2 {
    margin-top: 16px;
    letter-spacing: 4px;
    text-align: start; }
  .articles .text__description {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .text__description p {
    margin-top: 8px;
    width: 100%;
    text-align: justify; }
  .ltr h2 {
    width: 100%; }
  article.ltr {
    display: flex;
    flex-direction: column;
    text-align: start; }
  section.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.form form {
      width: 90%; }
    section.form label {
      margin: 2% auto 1% 7%; }
    section.form input[type="text"] {
      width: 86%; }
    section.form input[type="submit"] {
      margin: 5% auto 5% auto;
      width: 86%;
      border-radius: 8px;
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 3px;
      color: white; }
  footer {
    height: 282px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    color: white; }
  footer h2 {
    margin-top: 16px; }
  footer a {
    text-decoration: none;
    color: white; }
  .footer__info {
    height: 70%;
    display: flex;
    margin-left: 16px;
    margin-right: 16px; }
  .footer__info a {
    margin-top: 8px; }
  .footer__about {
    display: flex;
    flex-direction: column;
    width: 60%; }
  .footer__sites {
    display: flex;
    flex-direction: column; }
  .footer__links {
    width: 100%;
    display: flex; }
  .social__media {
    width: 50%;
    margin-left: 8px;
    display: flex;
    align-items: end; }
  .social__media a {
    margin: 16px 8px; }
  .footer__copyright {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    margin-right: 16px;
    margin-bottom: 16px; }
  .footer__copyright a {
    text-decoration: underline;
    margin-bottom: 8px; }
  footer p {
    margin-bottom: 8px; }
  /****************************Products page*******************************/
  section.search {
    margin-top: 60px;
    height: 56px;
    background-color: #0096ff; }
  section.search form {
    width: 100%; }
  section.search input {
    width: 85%;
    padding-left: 8%; }
  section.search input:focus {
    outline: solid #72ffff; }
  section.search button {
    background-color: white;
    border: none;
    position: absolute;
    left: 9%; }
  section.products {
    row-gap: 1.5rem;
    margin-top: 1.5rem;
    grid-template-columns: auto; }
  .product__card {
    height: auto;
    width: 90%;
    justify-self: center; }
  .card__info {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .product__card h2 {
    font-size: 1.4rem; }
  .product__card p {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 8px;
    font-size: 1.1rem; }
  p.card__price {
    width: 100%;
    height: auto;
    margin: auto 1% 0 0;
    align-items: end; }
  .card__image {
    width: 100%;
    height: 50%; }
  /***************************features page*********************************/
  .shopping {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white; }
  .shopping__product {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0px; }
  .shopping__product__details {
    width: 100%; }
  .shopping__product__details__title, .shopping__product__details__price {
    margin: 16px auto auto 5%; }
  .shopping__product__details__description {
    margin: 24px 16px auto 5%; }
  .shopping__product__details__title {
    font-size: 1.4rem;
    color: black;
    margin-bottom: 16px; }
  .shopping__product__details__description {
    font-size: 1rem;
    color: black; }
  .shopping__product__details__price {
    font-size: x-large;
    font-weight: bold; }
  .shopping__product__details__image {
    width: 90%;
    height: 320px;
    margin: 16px auto;
    background-color: #D9D9D9;
    border-radius: 5px; }
  .shopping__product__details__image__pic {
    width: 100%;
    height: 100%;
    border-radius: 5px; }
  .shopping__product__arrive {
    width: 100%;
    margin: 0 auto 0 auto; }
  .shopping__product__arrive__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .similar__products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid #D9D9D9 2px; }
  .product {
    width: 100%; }
  .similar__products h2 {
    font-size: larger;
    margin: 16px auto auto 16px; }
  .similar__products .product__card {
    margin: 8px auto; }
  .buy__button {
    background-color: #0096ff;
    color: white;
    border: none; }
  .add__button {
    background-color: white;
    border: #0096ff solid 1px;
    color: #0096ff; }
  /*******************************cart page********************************/
  .cart {
    width: 100%;
    height: auto; }
  .cart__container {
    width: 100%;
    margin: 0; }
  .cart__product__container__image {
    width: 30%; }
  .cart__product__details {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    border-bottom: #D9D9D9 solid 1px; }
  .cart__product__description {
    width: 60%;
    height: 85%; }
  .cart__product__description p {
    font-size: 1rem;
    margin: 0; }
  p.cart__product__price {
    font-size: x-large; }
  .cart__product__container__image {
    width: 40%;
    margin: auto 16px; }
  .cart__product__image {
    width: 100%;
    height: 130px;
    border-radius: 5px;
    background-color: #D9D9D9; }
  .cart__product__cancel__buy {
    width: 100%;
    height: 100px; }
  .cart__product__counter__price {
    flex-direction: column;
    justify-content: center; }
  .cart__product__cancel__buy__counter {
    width: 50%;
    box-shadow: 0 0 2px gray; }
  .cart__button {
    width: 100%; }
  /*****************************thanks page*********************************/
  .thank {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .thank h2 {
    font-size: x-large;
    color: #50CF01;
    font-weight: bold; }
  .thank p {
    color: black;
    font-size: x-large;
    font-weight: bold; }
  .success__icon {
    margin-top: 5.5rem; }
  .thank span {
    font-size: 150px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: black; }
  .finish {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .finish__button {
    background-color: #0096ff;
    border: none;
    color: white;
    letter-spacing: 5px; }
  .mobile__button {
    width: 95%;
    height: 70px;
    margin: 8px auto;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    border-radius: 5px; }
  /*********************************404****************************/
  .sorry {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sorry h2 {
    font-size: x-large;
    color: #0096ff;
    font-weight: bold; }
  .sorry p {
    color: black;
    font-size: x-large;
    font-weight: bold; }
  .sorry__icon {
    margin-top: 5.5rem; }
  .sorry span {
    font-size: 150px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: black; } }
